<!DOCTYPE html>
<html>
	<head>
		<script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
		<script src="{{ url_for('static', filename='app.js') }}"></script>
	</head>

	<body>
        <div class="row">
            <h2>Mixed-distance scatter plot</h2>
        </div>
        <div class="row">
            <div class="column">
                <label for="dropDown">Select WSI:</label>
                <select id="dropDown"></select>
            </div>
            <div class="column">
                <label>Fraction weight of physical distance</label>
                <input type="range" id="slider">
                <label id="sliderLabel" for="slider"></label>
            </div>
        </div>
		<div>
            <svg id="chart" height=300 width=500></svg>
        </div>

		<script>
            // create menu and populate with WSI id
            // then set value to first WSI id
            d3.json("/api/v1/wsi/list").then(
                function (wsiList) {
                    createDropDownMenu(wsiList);
                    d3.json(`/api/v1/wsi/${wsiList[0]}/fraction/list`).then(
                        function (fractionList) {
                            createSlider(fractionList);
                            d3.json(`/api/v1/wsi/${wsiList[0]}/fraction/${fractionList[0]}`).then(
                                data => {drawChart(d3.select("#chart"), data, false);
                        });
                    });
                });

            function createDropDownMenu(wsiList) {
                d3.select("#dropDown").selectAll("option")
                    .data(wsiList)
                    .enter()
                    .append("option")
                    .attr("value", d => d)
                    .text(d => d)
                    .attr("selected", function (d) {
                            if (d == wsiList[0]) {return "selected"}});
            }

            function createSlider(fractionList) {
                d3.select("#slider")
                    .attr("min", "0.0")
                    .attr("max", "1.0")
                    .attr("step", "0.1")
                    .attr("value", "0.0");
                d3.select("#sliderLabel")
                    .text("0.0");
            }

            // on changing WSI, prepare plot with same fraction if exists
            d3.select("#dropDown").on("input", function () {
                const wsiId = this.value;
                const fraction = parseFloat(
                    d3.select("#slider").node().value).toFixed(1);
                d3.select("#chart").selectAll("circle").remove();
                d3.select("#chart").selectAll("g").remove();
                d3.json(`/api/v1/wsi/${wsiId}/fraction/${fraction}`).then(function (data) {
                    drawChart(d3.select("#chart"), data, false);
                });
            });

            // on changing fraction, prepare plot with same WSI
			d3.select("#slider").on("input", function () {
                const wsiId = d3.select("#dropDown").node().value;
                const fraction = parseFloat(this.value).toFixed(1);
				d3.select("#sliderLabel").text(fraction);
                d3.json(`/api/v1/wsi/${wsiId}/fraction/${fraction}`).then(function (data) {
                    drawChart(d3.select("#chart"), data, true);
                });
			});
		</script>
	</body>
</html>
